* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }

 body {
       background: black;
 }

 .container {
      width: 600px;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      overflow: hidden;
 }

 .product{
      width: 400px;
      height: 550px;
      perspective: 1000px;
 }

 .productInner{
      position: relative;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: 1s;
 }

 .productFront{
      position: absolute;
      width: 100%;
      height: 100%;
      background: #fff;
      transform: translateZ(25px);
 }

 .productTop{
      height: 50%;
      width: 100%;
      background: linear-gradient(#0794a6, #9bae07);
      color: #fff;
 }

 .productTop h1{
      font-size: 100px;
      margin-left: 20px;
      font-style: italic;
      opacity: 0.3;
 }

 .productBottom{
      padding: 50px 30px;
 }

 .productBottom p{
      font-size: 12;
 }

 .productBottom h2{
      margin-bottom: 35px;
      color: #008394;
      letter-spacing: 1px;
 }

 .productBottom h1{
      font-size: 40px;
      font-weight: 400;
      color: #333;
      margin-bottom: 5px;
 }

.productBottom h1 span{
      color: #008394;
}

.productBottom button{
      padding: 9px 25px;
      background: transparent;
      color: #008394;
      border: 1px solid #008394;
      border-radius: 30px;
      outline: none;
      cursor: pointer;
}

.colorSelect{
      display: flex;
      float: right;
      margin-top: -10px;
}

.selectItem{
      width: 50px;
      height: 50px;
      margin: 0 10px;
      padding: 5px;
      box-shadow: -5px 0 8px 2px rgba(156, 216, 244, 0.5);
      border-radius: 50%;
      text-align: center;
      cursor: pointer;
}

.selectItem img{
      width: 80%;
      padding-top: 10%;
}

.selectItem:hover{
      background: rgba(156, 216, 244, 0.5);
      box-shadow: none;
      transition: 0.5s;
}

.productTop2{
      background: linear-gradient(#c370fd, #3be1b8);
}

.productBack{
      width: 100%;
      height: 100%;
      position: absolute;
      background: #fff;
      transform: translateZ(-25px) rotateY(180deg);
}

.leftSide{
      width: 50px;
      height: 100%;
      background: #fff;
      transform: rotateY(90deg);
      position: absolute;
      top: 0;
      left: -25px;
}

.rightSide{
      width: 50px;
      height: 100%;
      background: #fff;
      position: absolute;
      top: 0;
}

.rightSide{
      transform: rotateY(-90deg);
      left: auto;
      right: -25px;
}

#frontImg{
      width: 340px;
      top: 70px;
      left: 20px;
      position: absolute;
      transform: translateZ(50px);
      transition: 1s;
      z-index: 100;
}

#backImg{
      width: 340px;
      top: 70px;
      left: -650px;
      position: absolute;
      transform: translateZ(50px) rotate(-30deg);
      transition: 1s;
      z-index: 100;
}